<html>
<head>
    <style>
        .img-link{
            text-decoration: none;
            margin: 0 4px;
        }
        .img-min{
            width: 200px;
        }
    </style>
</head>
<body>
<div class="container">
{% for img in img %}
    <a href="img/{{ img.url }}" class="img-link" target="_blank">
    <img class="img-min" src="img/{{ img.url }}" alt="img">
    </a>
{% endfor %}
</div>
</body>
</html>